<% if object.errors.any? %>
  <section class="row mt-2">
    <div class="col-lg-12">
      <div class="alert alert-danger">
        <h6>
          Oops! The <%= object.class.name.humanize.downcase %> could not be saved.
        </h6>
        <h6>
          Please correct the following <%= pluralize(object.errors.count, "error") %>:
        </h6>
        <ul>
          <% object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
<% end %>