<% @movie.recent_reviews.each do |review| %>
  <div class="col-lg-12">
    <span>
      <%= pluralize(review.stars, 'Star') %>
    </span>
    <span class="font-weight-light">
      by
    </span>
    <span class="font-weight-bold">
      <%= review.name %>
    </span>
    <span class="font-italic">
      <%= time_ago_in_words(review.created_at) %> ago
    </span>
    <p>
      &quot;<%= review.comment %>&quot;
    </p>
  </div>
<% end %>