<div class="container mt-2">
  <div class="row">
    <h1><%= pluralize(@reviews.size, 'Review') %> for <%= link_to @movie.title, @movie %> </h1>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <%= render "reviews/display" %>
  </div>
</div>
