<div class="container mt-2">
  <div class="row">
    <header class="column-lg-12">
      <h1>Add Review for <%= link_to @movie.title, movie_path(@movie) %></h1>
      <%= render "form" %>
    </header>
  </div>
</div>