<aside style="float: right; width: 200px; background: cornflowerblue">
  <nav>
    <ul>
      <li>
        <%= link_to "All Movies", movies_path %>
      </li>
      <li>
        <%= link_to "Add Movie", new_movie_path %>
      </li>
    </ul>
  </nav>
</aside>